.form12 {
	font-size: 12px;
	color: #666666;
	border: 1px solid #B0CFA5;
}

.form12red {
	font-size: 12px;
	color: #666666;
	border: 1px solid #B0CFA5;
	background-color:#FAC9C9
}

.form12yellow {
	font-size: 12px;
	color: #666666;
	border: 1px solid #B0CFA5;
	background-color:#FFFF99
}

.form12blue{
	font-size: 12px;
	color: #666666;
	border: 1px solid #B0CFA5;
	background-color:#CFBEFC
}

.form12grey{
	font-size: 12px;
	color: #666666;
	border: 1px solid #B0CFA5;
	background-color:#E8E8E8
}

.form12label{
	font-size: 12px;
	border:none;
	background:none;
	text-align:center;
	
}

.form16 {
	font-size: 16px;
	color: #666666;
	border: 2px solid #B0CFA5;
	font-weight: bolder;
}

.table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.myinput {
	font-family: "ו";
	font-size: 12px;
	background-color: #D7F2C5;
	border: 1px solid #71AD4B;
	width: 60px;
}
.myinput2 {
	font-family: "ו";
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #CCCCCC;
}
.myinput3 {
	font-family: "ו";
	font-size: 12px;
	background-color: #D7F2C5;
	border: 1px solid #71AD4B;
	width: 80px;
}
.mytextarea {
	font-size: 12px;
	LINE-HEIGHT: 150%; 
	border: 1px solid #CCCCCC;
}
.myselect {
	font-size: 12px;
	border: 1px solid  #2557AD;
}
.a1:link {color: #000000}.a1:visited {color: #000000}.a1:hover {color: #000000}.a1:active {color: #000000}
.attainfoy{font-size: 12px;text-decoration: line-through;}
.attainfon{font-size: 12px;}
.attainfot{text-decoration:none !important; text-decoration: underline; color:blue;}
.a2 {
	font-size: 14px;
	color: #256428;
	text-decoration: none;
}
.a3 {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.myselect2 {
	font-size: 12px;
	height: 200px;
	width: 100%;
	border: 1px dashed #2557AD;
}
.a4 {
	font-size: 12px;
	color: #256428;
	text-decoration: none;
}
.tab-on {
	BORDER-RIGHT: #cccccc 1px; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 120px; CURSOR: hand; COLOR: #256428; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px; BACKGROUND-COLOR: #ffffff
}
.tab-off {
	BORDER-RIGHT: #cccccc 1px; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 120px; CURSOR: hand; COLOR: #666666; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.tab-none {
	BORDER-RIGHT: #cccccc 1px; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
.tab-content {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
