.text12 {
	font-size: 12px;
	text-decoration: none;
}
.text12w {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
.text12g {
	font-size: 12px;
	color: #256428;
	text-decoration: none;
}
.title14 {
	font-size: 14px;
	font-style: normal;
	color: #256428;
	text-decoration: none;
}
.text14wb {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.title14_red_line {
	font-size: 14px;
	line-height: 20px;
	color: #996600;
	text-decoration: none;
	font-weight: bold;
}
.menuw16 {
	font-family: "ו";
	font-size: 16px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	line-height: normal;
	filter: Glow(Color=#608D3F, Strength=2);
}
.errorAlert {
 color:#FF0000;
 font-weight:bold; 
 font-size:14px;
}
.rightAlert {
 color:#0000FF;
 font-weight:bold; 
 font-size:14px;
}